#mdhtml {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #000;
    font: 400 16px/24px Roboto, Noto Sans, Noto Serif CJK SC, sans-serif;
    font-size: 1.7rem;
    word-wrap: break-word;
    text-rendering: optimizeSpeed;
}

#mdhtml figure {
    text-align: center;
}

#mdhtml h1,
#mdhtml h2,
#mdhtml h3,
#mdhtml h4,
#mdhtml h5,
#mdhtml h6 {
    color: #000;
    vertical-align: middle;
}

#mdhtml h1 {
    font-size: 2em;
    margin: 24px .67em 16px .67em;
    line-height: 1.25;
    font-weight: 600;
    border-bottom: 0;
    padding-bottom: .3em;
}

#mdhtml h2 {
    margin-bottom: 16px;
    margin-top: 24px;
    border-bottom: 0;
    padding-bottom: .3em;
    font: 400 24px/32px Google Sans, Noto Sans, Noto Serif CJK SC, sans-serif;

}

#mdhtml h3 {
    margin-bottom: 16px;
    margin-top: 24px;
    font: 400 24px/32px Google Sans, Noto Sans, Noto Serif CJK SC, sans-serif;
}

#mdhtml h4 {
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    font-weight: 600;
    font-size: 1em;
}

#mdhtml h5 {
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
    font-weight: 600;
    font-size: .875em;
}

#mdhtml h6 {
    color: #6a737d;
    font-size: .85em;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

#mdhtml h1:hover,
#mdhtml h2:hover,
#mdhtml h3:hover,
#mdhtml h4:hover,
#mdhtml h5:hover,
#mdhtml h6:hover {
    text-decoration: none;
}

#mdhtml details {
    display: block;
    cursor: pointer;
}

#mdhtml summary {
    display: list-item;
    cursor: pointer;
}

#mdhtml a {
    background-color: transparent;
}

#mdhtml a:active {
    outline-width: 0;
}

#mdhtml a:hover {
    color: #0366d6;
    text-decoration: none;
    outline-width: 0;
}

#mdhtml strong {
    font-weight: 600;
}

#mdhtml code {
    font: 500 90%/1 Roboto Mono, monospace;;
    word-break: break-word;
    background: #f1f3f4;
    color: #37474f;
    direction: ltr !important;
    padding: 1px 4px;
    text-align: left !important;
    border-radius: 0;
    margin: 0;
}

#mdhtml kbd {
    line-height: 10px;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #c6cbd1;
    color: #444d56;
    display: inline-block;
    font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

#mdhtml pre {
    font: 400 16px/24px Roboto, Noto Sans, Noto Serif CJK SC, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    /*font-family: "Sarasa Term SC", Consolas, Liberation Mono, Menlo, Courier, monospace;*/
    word-wrap: normal;
    margin: 10px -35px;
    width: 850px;
    border-radius: 0;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 10px 35px;
    border: 0;
}

#mdhtml hr {
    box-sizing: content-box;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    height: .25em;
    margin: 24px 0;
    padding: 0;
}

#mdhtml hr:before {
    content: "";
    display: table;
}

#mdhtml hr:after {
    clear: both;
    content: "";
    display: table;
}

#mdhtml input {
    margin: 0;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

#mdhtml input::-webkit-inner-spin-button,
#mdhtml input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

#mdhtml [type=checkbox] {
    box-sizing: border-box;
    padding: 0;
}

#mdhtml * {
    box-sizing: border-box;
}

#mdhtml table {
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    overflow: auto;
    width: 100%;
    margin-bottom: 16px;
    margin-top: 0;
}

#mdhtml table th {
    font-weight: 600;
    border: 0;
    padding: 6px 13px;
    background-color: #fff;
}

#mdhtml table td {
    border: 0;
    padding: 6px 13px;
    background-color: #fff;
}

#mdhtml table tr {
    background-color: #fff;;
    border-top: 0;
}

#mdhtml table tr:nth-child(2n) {
    background-color: #fff;
}

#mdhtml p {
    margin-bottom: 16px;
    margin-top: 0;
}

#mdhtml blockquote {
    background: #f1f3f4;
    padding: 8px;
    quotes: none;
    margin: 16px 0
}

#mdhtml blockquote > :first-child {
    margin-top: 0;
}

#mdhtml blockquote > :last-child {
    margin-bottom: 0;
}

#mdhtml ol {
    padding-left: 2em;
    margin-bottom: 16px;
    margin-top: 0;
}

#mdhtml ul {
    padding-left: 2em;
    margin-bottom: 16px;
    margin-top: 0;
}

#mdhtml ol ol {
    list-style-type: lower-roman;
    margin-bottom: 0;
    margin-top: 0;
}

#mdhtml ul ol {
    list-style-type: lower-roman;
    margin-bottom: 0;
    margin-top: 0;
}

#mdhtml ol ul,
#mdhtml ul ul {
    margin-bottom: 0;
    margin-top: 0;
}

#mdhtml ol ol ol,
#mdhtml ol ul ol,
#mdhtml ul ol ol,
#mdhtml ul ul ol {
    list-style-type: lower-alpha;
}

#mdhtml dd {
    margin-left: 0;
}

#mdhtml:before {
    content: "";
    display: table;
}

#mdhtml:after {
    clear: both;
    content: "";
    display: table;
}

#mdhtml > :first-child {
    margin-top: 0 !important;
}

#mdhtml > :last-child {
    margin-bottom: 0 !important;
}

#mdhtml a:not([href]) {
    color: inherit;
    text-decoration: none;
}

#mdhtml dl {
    margin-bottom: 16px;
    margin-top: 0;
    padding: 0;
}

#mdhtml li {
    word-wrap: break-all;
    margin: 0.4em 0;
    line-height: 1.85em;
}

#mdhtml li > p {
    margin-top: 16px;
}

#mdhtml li + li {
    margin: 0.4em 0;
    line-height: 1.85em;
}

#mdhtml dl dt {
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0 16px;
}

#mdhtml img {
    /*background-color: #fff;*/
    /*box-sizing: content-box;*/
    max-width: 780px;
    /*display: inline-block;*/
    height: auto;
    /*vertical-align: middle;*/
    /*border-style: none;*/
    border: 0;
    margin: 0;
    width: 100%;
}

#mdhtml img[align=right] {
    padding-left: 20px;
}

#mdhtml img[align=left] {
    padding-right: 20px;
}

#mdhtml pre > code {
    font: 400 16px/24px Roboto, Noto Sans, Noto Serif CJK SC, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    white-space: pre;
    word-break: normal;
    background-color: transparent;
    border: 0;
    display: inline;
    line-height: inherit;
    margin: 0;
    max-width: auto;
    overflow: auto;
    padding: 0;
    word-wrap: normal;
}

@media (prefers-color-scheme: light) {
    #mdhtml {
        color: #000;
    }

    #mdhtml h1,
    #mdhtml h2,
    #mdhtml h3,
    #mdhtml h4,
    #mdhtml h5,
    #mdhtml h6 {
        color: #000;
    }

    #mdhtml hr {
        background-color: rgba(255, 255, 255, 1);
    }

    #mdhtml pre {
        background-color: rgba(241, 243, 244, 1);
        color: #37474f;
    }

    #mdhtml table td,
    #mdhtml table th {
        background-color: #fff;
        border: 1px solid #d1d5da;
    }

    #mdhtml table tr {
        background-color: #fff;
    }

    #mdhtml table tr:nth-child(2n) {
        background-color: #fff;
    }

    #mdhtml blockquote {
        background: #f1f3f4;
        color: rgba(32, 33, 36, 1);
    }

    #mdhtml code {
        background: #f1f3f4;
        color: #37474f;
    }
}

@media (prefers-color-scheme: dark) {
    #mdhtml {
        color: #b8b8b8;
    }

    #mdhtml h1,
    #mdhtml h2,
    #mdhtml h3,
    #mdhtml h4,
    #mdhtml h5,
    #mdhtml h6 {
        color: #fff;
    }

    #mdhtml hr {
        background-color: rgba(32, 33, 36, 1);
    }

    #mdhtml pre {
        background-color: var(--dark-lvl-600);
        color: #eceff1;
    }

    #mdhtml table td,
    #mdhtml table th {
        background-color: #232222;
        border: 1px solid #666
    }

    #mdhtml table tr {
        background-color: #232222;
    }

    #mdhtml table tr:nth-child(2n) {
        background-color: #1e1e1e;
    }

    #mdhtml blockquote {
        color: rgba(232, 234, 237, 1);
        background-color: var(--dark-lvl-600);
    }

    #mdhtml code {
        background-color: var(--dark-lvl-600);
        color: #eceff1;
    }
}

@media only screen and (max-width: 940px) {
    #mdhtml pre {
        width: 702px;
    }
}
