<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>backtop</title>
</head>
<body>
<div class="" id="backtop"></div>
<div style="width: 100%; height: 900px; display: block; background-color: rgb(234, 34, 32); background-image: linear-gradient(#00c4ff, #00ff00, #0000ff, #2E8B57)"></div>
<button onclick="bt()" style="position: fixed; bottom: 56px; right: 56px;">backtop</button>
</body>
<script>
    // 使用 Date.now 获取时间戳性能比使用 new Date().getTime 更高效
    // if (!Date.now)
    //     Date.now = function () {
    //         return new Date().getTime();
    //     };

    /**
     * 三阶贝塞尔曲线ease-in-out
     * @param {number} k
     */

    function easeInOutQuint(t, b, c, d) {
        if ((t /= d / 2) < 1) return c / 2 * t * t * t + b;
        return c / 2 * ((t -= 2) * t * t + 2) + b;
    }
    function easeInOutCubic(k) {
        return (k *= 2) < 1 ? 0.5 * k * k * k : 0.5 * ((k -= 2) * k * k + 2);
    }

    function RAF(callback, change, duration) {
        let handle;
        // 返回动画函数
        // 开始时间
        let startTime = performance.now();
        // 防止启动多个定时器
        cancelAnimationFrame(handle);

        // 回调函数
        function _animation() {
            // 这一帧开始的时间
            let current = performance.now();
            // let eleTop = ele.offsetLeft;
            // 这一帧内元素移动的距离
            let left = Math.round(change * easeInOutCubic((current - startTime) / duration));
            callback(change - left)
            // 判断动画是否执行完
            console.log(change-left);
            if ((current - startTime) / duration < 1) {
                handle = requestAnimationFrame(_animation);
            } else {
                cancelAnimationFrame(handle);
            }
        }

        // 第一帧开始
        handle = requestAnimationFrame(_animation);
    }

    function bt() {
        let callback = (x) => {
            window.scrollTo(0, x);
        }
        let change = document.documentElement.scrollTop || document.body.scrollTop;
        RAF(callback, change, 500)
    }
</script>
</html>