body {
    margin: 0;
    padding: 0;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    height: 2em;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: rgba(255, 100, 0, 1);
    /*border-top:rgba(255, 100, 0, 1) solid 1px;*/
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background 300ms ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    outline: none;

}

.option:hover {
    background: rgba(185, 100, 100, 1);
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

.option-input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

.option-input:checked + label {
    order: 1;
    z-index: 2;
    background: rgba(255, 100, 0, 1);
    border-top: none;
    position: relative;
}

.option-input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    /*border-left: 5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
    border: 0;
    position: absolute;
    /*right: 10px;*/
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

.option-input:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 0;
    content: '';
    background: rgba(255, 100, 0, 0);
}

.body {
    width: 100%;
    height: 100%;
    background: rgba(255, 100, 0, 1);
    transition: background 300ms cubic-bezier(.42, 0, .58, 1);
}

#full_time_hour {
    display: inline-block;
}

#full_time_minute {
    display: inline-block;
}

#full_time_second {
    display: inline-block;
}

#full_time {
    flex-basis: 440px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}

#time {
    flex-basis: 440px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    color: rgba(255, 255, 255, 1);
}

#start {
    justify-content: center;
    display: flex;
    background: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 1);
    font-size: 2em;
}

.uuid {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin-top: 5rem;
}

.card {
    max-width: 200px;
    height: 150px;
    border-radius: 5px;
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    display: flex;
}

.card:hover {
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.index-body {
    position: absolute;
    width: 100%;
    min-height: 100%;
    height: auto;
}

.index-main {
    max-width: 780px;
    margin: 0 auto;
    min-height: 100%;
    height: auto;
}

.index-content {
    -moz-column-count: 3; /* Firefox */
    -webkit-column-count: 3; /* Safari å’Œ Chrome */
    column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    margin-top: 100px;
}

.card-content {
    margin: 1rem;
}

.a-btn {
    color: black;
    text-decoration: none;
}

.a-btn:visited {
    color: black;
    text-decoration: none;
}

.a-btn:hover {
    text-decoration: none;
}

#inputts {

}

#uuid-box li {
    list-style: none;
    font-family: "Noto Sans Mono CJK SC Regular", monospace;
}
